{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block title %}
    Password Change
{% endblock title %}

{% block style %}
    <style>
        .heading{
                text-align:center;
                
        }
        .login-style{
            width: 500px;
            height:auto;
        }
    </style>
{% endblock style %}

        
{% block body %}
    
<div class='container mt-5 login-style'>
    <h3 class="heading mb-3"> Channge your password </h3>

    <form action="" method="POST" novalidate autocomplete="off">

         {% csrf_token %}
         {{form | crispy }}

    <input type="submit" value="Change Password" class="btn btn-success">

    </form>

    
</div>



{% endblock body %}